<!--<!DOCTYPE html>-->
<!--<html lang="pl-PL">-->
<!--    -->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--        <link rel="stylesheet" href="css/style.css">-->

<!--        -->
<!--        <title> Restaurant DEMO</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <header>-->
<!--            <h1>Restaurant</h1>-->
<!--            <img src="images/main.jpg" alt="Restaurant">-->
<!--            -->
<!--        </header>-->
<!--        <nav class="navbar">-->
<!--            <ul>-->
<!--                <li><a href="index.html" class="active"> Strona główna</a></li>-->
<!--                <li><a href="pages/client/lista-client.html"> Client</a></li>-->
<!--                <li><a href="pages/dish/list.html"> Dania</a></li>-->
<!--                <li><a href="pages/oder/list-oder.html"> Zamówienie</a></li>-->
<!--            </ul>-->
<!--        </nav>-->

<%- include('./fragments/header.ejs') %>
       
        <main>
            <h2>Strona główna</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fugiat est ea beatae, quia suscipit similique quis nam, eos eaque quibusdam repellat explicabo unde dignissimos aperiam praesentium ipsam dolorum eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident quisquam similique ducimus asperiores nemo quo maiores. Tempore quam repellendus ipsum sit, consequatur quidem qui molestias iusto a enim tempora. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione hic sit officia, in impedit deleniti unde iusto asperiores dolores laudantium aperiam eaque fuga assumenda, porro iste? Eos quam aut voluptatum.</p>
        </main>
<%- include('./fragments/footer.ejs')%>
<!--        <footer>-->
<!--            Danylo Udod S20904-->
<!--        </footer>-->
<!--    </body>-->
<!--</html>-->