<!--<!DOCTYPE html>-->
<!--<html lang="pl-PL">-->
<!--    -->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--        <link rel="stylesheet" href="../../css/style.css">-->

<!--        -->
<!--        <title> Restaurant DEMO</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <header>-->
<!--            <h1>Edycja dania</h1>-->
<!--            <img src="../../images/main.jpg" alt="Restaurant">-->
<!--        </header>-->
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a href="../../index.html"> Strona główna</a></li>-->
<!--                <li><a href="../client/lista-client.html"> Client</a></li>-->
<!--                <li><a href="list.html"> Dania</a></li>-->
<!--                <li><a href="../oder/list-oder.html"> Zamówienie</a></li>-->
<!--            </ul>-->
<!--        </nav>-->

<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Edycja dania</h2>
            <form class="form" action="#">
                <label for="firstName">Nazwa: <span class="symbol-required">*</span></label>
                <input type="text" name="firstName" id="firstName"  value="Zupa" required>               
                <span id="errorFirstName" class="errors-text"></span>

                <label for="weight">Waga: </label>
                <input type="text" name="weight" id="weight" value="300g">               
                <span id="errorWeight" class="errors-text"></span>

                 <label for="price">Cena: <span class="symbol-required">*</span></label>
                <input type="number" name="price" id="price" min="0" value="20" required>               
                <span id="errorPrice" class="errors-text"></span>

                <div class="form-buttons">
                    <p id="errorSummary"></p>
                    <input class="form-button-submit" type="submit" value="Dodaj">
                    <a  class="form-button-cancel" href="form_edit.html">Anuluj</a>                  
                </div>              
            </form>
            
        </main>

<%- include('../../fragments/footer.ejs')%>
<!--        <footer>-->
<!--            Danylo Udod S20904-->
<!--        </footer>-->
<!--    </body>-->
<!--</html>-->