<!--<!DOCTYPE html>-->
<!--<html lang="pl-PL">-->
<!--    <head>-->
<!--        <link rel="stylesheet" href="../../css/style.css">-->
<!--        <meta charset="UTF-8">-->
<!--        <meta name="viewport" content="width=device-width,initial-scale=1">-->

<!--        -->
<!--        <title> Restaurant DEMO</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <header>-->
<!--            <h1>Szczegóły dania</h1>-->
<!--            <img src="../../images/main.jpg" alt="Restaurant">-->
<!--        </header>-->
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a href="../../index.html"> Strona główna</a></li>-->
<!--                <li><a href="../client/lista-client.html"> Client</a></li>-->
<!--                <li><a href="list.html"> Dania</a></li>-->
<!--                <li><a href="../oder/list-oder.html"> Zamówienie</a></li>-->
<!--            </ul>-->
<!--        </nav>-->

<%- include('../../fragments/header.ejs') %>
        <main>
            <h2><%= pageTitle %></h2>
            <form class="form" action="#">
                <label for="clientName">Imie clienta: <span class="symbol-required">*</span></label>
                <input type="text" name="clientName" id="clientName" value="David" disabled>             
                <span id="errorFirstName" class="errors-text"></span>

                <label for="orderNumber">Numer zamówienia: <span class="symbol-required">*</span></label>
                <input type="number" name="orderNumber" id="orderNumber" value="1" disabled>             
                <span id="errorOrderNumber" class="errors-text"></span>


                <label for="dishName">Nazwa: <span class="symbol-required">*</span></label>
                <input type="text" name="dishName" id="dishName" value="Zupa" disabled>               
                <span id="errorDishName" class="errors-text"></span>

                <label for="weight">Waga: </label>
                <input type="text" name="weight" id="weight"  value="300g" disabled>               
                <span id="errorWeight" class="errors-text"></span>

                 <label for="price">Cena: <span class="symbol-required">*</span></label>
                <input type="number" name="price" id="price" min="0" value="20" disabled>               
                <span id="errorPrice" class="errors-text"></span>

                <div>
                    <p id="errorsSummary" class="errors-text"></p>
                    <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>">
                    <a class="form-button-cancel" href="/dishs">Anuluj</a>
                    <%} else { %>
                        <a class="form-button-cancel" href="/dishs">Powrót</a>
                    <% } %>
                </div>
            </form>
            <p> <a class="list-actions-button-details" href="list.html">Powrót</a></p>
        </main>

<%- include('../../fragments/footer.ejs')%>
<!--        <footer>-->
<!--            Danylo Udod S20904-->
<!--        </footer>-->
<!--    </body>-->
<!--</html>-->